Endpoint:
  Port: 8086

models:
  - id: sli
    url: ${appPath}/example/model/string_lookups_int_model
    useDict: true
    debug: false
    datastore: sli
    inputs:
      - name: sa
      - name: sl
      - name: aux
        auxiliary: true
    test:
      test: true

  - id: slf
    url: ${appPath}/example/model/string_lookups_float_model
    useDict: true
    debug: false
    datastore: slf
    transformer: slft
    inputs:
      - name: sa
      - name: sl
      - name: aux
        auxiliary: true
    test:
      singleBatch: true

  - id: fli
    url: ${appPath}/example/model/float_input_int_model
    useDict: true
    debug: false
    datastore: fli
    inputs:
      - name: fl
        precision: 4

  - id: flinc
    url: ${appPath}/example/model/float_input_int_model
    useDict: false
    debug: false
    datastore: fli

  - id: vec
    url: ${appPath}/example/model/vectorization_int_model
    useDict: true
    debug: false
    datastore: vec
    inputs:
      - name: tv
        wildcard: true
      - name: sl
      - name: aux
        auxi